<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
  <link rel="stylesheet" href="./css/principal.css">

  <script src="/effect.js"></script>
  <title>Velez</title>
</head>

<body>

  <header>
    <nav class="navbar">
      <ul>
        <li> <a href="#home">Pagina inicial</a></li>
        <li> <a href="#home">Pagina inicial</a></li>
        <li> <a href="#home">Pagina inicial</a></li>
        <li> <a href="../views/index.php">Entrar</a></li>

      </ul>
    </nav>
  </header>
  <section id="home">
    <div class="nome">
      <h1>Vele <span>Z</span> Store</h1>
      <h4>The best elletronics for you with best price</h4>
    </div>

    <div class="boxes">
      <div class="quality">
        <img src="../models/imagens/controle-de-qualidade.png" alt="">
        <p>Quality <br>
          Top quality products. <br> excellence you can trust!</p>
      </div>

      <div class="security">
        <img src="../models/imagens/dados-pessoais.png" alt="">
        <p>Security <br>
          Quality and safe products for <br> you</p>
      </div>

      <div class="price">
        <img src="../models/imagens/preco-baixo.png" alt="">
        <p>Price <br>
          quality products at affordable <br> prices</p>
      </div>

      <div class="import">
        <img src="../models/imagens/voo-de-aviao.png" alt="">
        <p>Import<br>
          uncomplicated import:<br> products from around <br>the world at you doorstep</p>
      </div>
    </div>
  </section>

  <section id="type-sales">
    <div class="boxes">
      <div class="teclados" data-tilt>
        <h1> Gaming keyboards</h1>
        <img src="../models/imagens/DARK AVENGER PNG.webp" alt="">
      </div>

      <div class="sales">
        <h1>50% OFF in all products</h1>
      </div>
      <div class="monitor">
        <h1>The bests monitors in the market</h1>
        <img src="../models/imagens/monitor.webp" alt="">
      </div>
    </div>
  </section>

  <section id="most-saled">

    <div class="boxes">
      <div class="mouse-1">
        <img src="../models/imagens/mouse-redragon.webp" alt="">
        <div class="seta">
          <h1>MOUSE <span>REDRAGON</span> COBRA</h1>
          <ion-icon name="arrow-forward-outline" class="setinha"></ion-icon>
        </div>
      </div>

      <div class="mouse-2">
        <img src="../models/imagens/mouse-razer.png" alt="">
        <div class="seta">
          <h1>MOUSE <span>RAZER</span> DEATHADDER</h1>
          <ion-icon name="arrow-forward-outline" class="setinha"></ion-icon>
        </div>
      </div>

      <div class="nvme">
        <img src="../models/imagens/NVME.png" alt="">
        <div class="seta">
          <h1>NVME <span class="x">X</span><span class="p">P</span><span class="g">G</span></h1>
          <ion-icon name="arrow-forward-outline" class="setinha"></ion-icon>
        </div>
      </div>
    </div>


    <div class="box-baixo">
      <div class="teclado-1">
        <img src="../models/imagens/teclado-husky.png" alt="">
        <div class="seta">
          <h1>TECLADO HUSKY</h1>
          <ion-icon name="arrow-forward-outline" class="setinha"></ion-icon>
        </div>
      </div>

      <div class="fone-1">
          <img src="../models/imagens/fone-corsair.webp" alt="">
          <div class="seta">
            <h1>FONE CORSAIR</h1>
            <ion-icon name="arrow-forward-outline" class="setinha"></ion-icon>
          </div>
        </div>
      </div>
  </section>

  <section id="about">

  </section>

  <section id="feedback">

  </section>

  <footer id="footer">

  </footer>


  <!-- at the end of the body -->
  <script type="text/javascript" src="/vanilla-tilt.js"></script>
</body>

</html>