@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;0,800;0,900;1,600;1,700;1,800;1,900&display=swap');

body {

    font-family: 'Poppins', sans-serif;
    margin: 0 auto;
    height: 100vh;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    height: 100px;
    width: 100%;
}

header .text {
    display: flex;
    align-items: center;
    margin-left: 10px;
    color: #fff;
    
}

header .text span {
    color: #5025d1;
}

.navbar {
    display: flex;
    align-items: center;
}

.navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
}

.navbar li {
    margin-right: 10px;
}

.navbar li a {
    text-decoration: none;
    color: #fff;
    padding: 5px;
    transition: background-color 300ms ease-in-out;
}

.navbar li a:hover {
    color: #000;
    background-color: #ddd;
}

#home .nome h1,
h4 {
    font-size: 40px;
    display: flex;
    justify-content: center;
}

#home .nome h1 span {
    color: #5025d1;
   
}

#home .nome h1 .store {
    color: #5025d1;
    margin-left: 15px;
}

#home .nome  .purple {
    color: #673de6;
    display: inline;
    margin-left: 10px;
    margin-right: 10px;
}

#home .boxes h3 {
    color: #000;

}

#home .boxes p {
    font-size: 16px;
    font-weight: 200;
    color: #fff;
}

#home .boxes {
    margin-top: 80px;
    display: flex;
    justify-content: center;
    gap: 30px;
    text-align: center;
    padding: 1.2rem;

}

#home .boxes .quality {
    border-radius: 6px;
    width: 300px;
    height: 200px;
    background-color: #673de6;
    transition: transform 0.3s ease-in-out;
    background-color: #673de6;
    box-shadow: black 10px 6px 30px;
}

#home .boxes .quality:hover {
    transform: scale(1.1);
   
}

#home .boxes .price {
    border-radius: 6px;
    width: 300px;
    height: 200px;
    background-color: #673de6;
    transition: transform 0.3s ease-in-out;
    background-color: #673de6;
    box-shadow: black 10px 6px 30px;
}

#home .boxes .price:hover {
    transform: scale(1.1);
    border: solid 3px #000;
}

#home .boxes .quality:hover {
    transform: scale(1.1);
    border: solid 3px #000;
}

#home .boxes .import:hover {
    transform: scale(1.1);
    border: solid 3px #000;
}

#home .boxes .security:hover {
    transform: scale(1.1);
    border: solid 3px #000;
}

#home .boxes .security {
    border-radius: 6px;
    width: 300px;
    height: 200px;
    background-color: #673de6;
    transition: transform 0.3s ease-in-out;
    background-color: #673de6;
    box-shadow: black 10px 6px 30px;
}

#home .boxes .security:hover {
    transform: scale(1.1);
}

#home .boxes .import {
    border-radius: 6px;
    width: 300px;
    height: 200px;
    transition: transform 0.3s ease-in-out;
    background-color: #673de6;
    box-shadow: black 10px 6px 30px;
}

#home .boxes .import:hover {
    transform: scale(1.1);
}

#home .boxes img {
    width: 60px;
    margin-top: 3px;
}

#type-sales .boxes {
    margin-top: 200px;
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 350px;
    padding: 30px;
    color: #fff;

}


#type-sales .boxes .teclados img {
    width: 300px;
    filter: drop-shadow(10px 10px 10px  black);
}

#type-sales .boxes .monitor img {
    width: 250px;
    filter: drop-shadow(10px 10px 10px  black);
}

#type-sales .boxes .teclados {
   
    border-radius: 6px;
    width: 400px;
    height: 200px;
    background-color: #673de6;
    text-align: center;
    box-shadow: black 10px 6px 40px;
}


#type-sales .boxes .monitor {
    border-radius: 6px;
    width: 400px;
    height: 200px;
    background-color: #673de6;
    gap: 100px;
    text-align: center;
    box-shadow: black 10px 6px 40px;
    
}

#type-sales .boxes h1 {
    font-size: 20px;
}

#type-sales .sales {
    border-radius: 6px;
  
    width: 400px;
    height: 200px;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    
}


#type-sales .sales{
    transition: transform 0.3s ease-in-out;
}
#type-sales .sales:hover  {
        transform: scale(1.1);
}

#most-saled .text {
    align-items: center;
   margin-left: 100px;
}


#most-saled .text h1 {
    padding: 30px;
}
#most-saled .text h1::after {
  
    display: block;
    content: "";
    border-bottom: 1px solid black;
    width: 100px;
    margin-left: 10px;
}


#most-saled .boxes {
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 150px;
    padding: 30px;
    color: #fff;
}
#most-saled .mouse-1 {
    border-radius: 6px;
    background-color: #673de6;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.5);
    align-items: center;
    text-align: center;
    display: inline-flex;
    height: 150px;
}

#most-saled .mouse-1  img {
    width: 100px;
    filter: drop-shadow(8px 8px 15px  black);
    
}
#most-saled  .seta {
    display: inline-flex;
    align-items: center;
    text-align: center;
}
#most-saled .mouse-1 .setinha{
   font-size: 30px;
}
#most-saled .mouse-2  img {
    width: 130px;
    filter: drop-shadow(8px 8px 15px  black);
    
}
#most-saled .mouse-2 {
    border-radius: 6px;
    background-color: #673de6;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.5);
    height: 150px;
    align-items: center;
    text-align: center;
    display: inline-flex;
}
#most-saled .mouse-2 .setinha{
    font-size: 30px;
 }

#most-saled .mouse-1 span {
    color: red;
}

#most-saled .mouse-2 span {
    color: #00ff88;
}




#most-saled .nvme img {
    width: 150px;
    padding: 30px;
    filter: drop-shadow(8px 8px 15px  black);
}
    
#most-saled .nvme {
    border-radius: 6px;
    background-color: #673de6;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.5);
    height: 150px;
    align-items: center;
    text-align: center;
    display: inline-flex;
}


#most-saled .nvme .setinha{
    font-size: 30px;
  
 }

 #most-saled .nvme .x {
    color: #000;
 }

 #most-saled .nvme .p {
    color: red;
 }

 #most-saled .nvme .g {
    color: rgb(0, 255, 0);
 }



 #most-saled .box-baixo {
    
    color: #fff;
    margin-top: 50px;
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 50px;
}

#most-saled .teclado-1 img {
    width: 200px;
    padding: 30px;
    filter: drop-shadow(8px 8px 15px  black);
}
    
#most-saled .teclado-1 {
    border-radius: 6px;
    background-color: #673de6;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.5);
    height: 150px;
    align-items: center;
    text-align: center;
    display: inline-flex;
}


#most-saled .fone-1 .setinha{
    font-size: 30px;
  
 }



 #most-saled .fone-1 img {
    width: 200px;
    padding: 30px;
    filter: drop-shadow(8px 8px 15px  black);
}
    
#most-saled .fone-1 {
    border-radius: 6px;
    background-color: #673de6;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.5);
    height: 150px;
    align-items: center;
    text-align: center;
    display: inline-flex;
}


#most-saled .teclado-1 .setinha{
    font-size: 30px;
  
 }


 #about .box {
    width: 100%;
   height: 180px;
    background-color:black;
    color: #fff;

 }

#about .container .sobre {
    align-items: center;
    justify-content: center;
    display: flex;
    text-align: center;
    color: #5025d1;
    font-size: 25px;
}


 #about .box .purple {
    margin-left: 10px;
    margin-right: 10px;
 }

 #about .box h1 {
    color: #fff;
    align-items: center;
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 40px;
 }
 #about .box span {
    color: #673de6;
   
 }


 #about .box h4 {
    font-size: 20px;
 }

 #about .container h3{
    align-items: center;
    justify-content: center;
    display: flex;
 }

 #about .container .texto{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 115px;
    
   
 }

 #feedback .box {
    display: flex;
    flex-direction: column;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left: 50px;
    
 }

 #feedback .box label {
    display: flex;
    font-weight: bolder;
 }

 #feedback .box input {
    border: 1px solid #673de6;
    border-radius: 4px;
    padding: 10px;
   margin-bottom: 10px;
 }

 #feedback .box input:hover {
   
    border: 1px solid #673de6;
    border-radius: 4px;
    padding: 10px;
 }

#feedback .box textarea {
    border: 1px solid #673de6;
    border-radius: 6px;
    padding: 10px;
}

#feedback .box input::placeholder {
    font-weight: bolder;
}
#feedback .box button {
    font-family: 'Poppins';
    border-radius: 4px;
    padding: 10px;
    border: 1px solid #673de6;
}

#feedback .box button:hover {
    cursor: pointer;
}

footer .box {
  
    background-color: black;
    color: #fff;
    
}

footer .box .marca h2 {
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: center;
}

footer .box h4{
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: center;
    font-size: 15px;
}

footer .box span {
    color: #5025d1;
    
}
    